<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Ana - feature para usar a camera -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Editar"
            android:exported="false" />
        <activity
            android:name=".MainActivity1"
            android:exported="false" />
        <activity
            android:name=".Listar_Produtos"
            android:exported="false" />
        <activity
            android:name=".tela_itens"
            android:exported="false" />
        <activity
            android:name=".tela_dados_produtos"
            android:exported="false" />
        <activity
            android:name=".adapter.recyclerView_ITENS"
            android:exported="false" />
        <activity
            android:name=".tela_inicial_produtos"
            android:exported="false" />
        <activity
            android:name=".Gerar_relatorio"
            android:exported="false" />
        <activity
            android:name=".relatorio"
            android:exported="false" />
        <activity
            android:name=".tela_inicial_categorias"
            android:exported="false" />
        <activity
            android:name=".Adicao_novos_produtos"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tela_inicial"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cadastro"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>